:root{
    --primary: #0AD1BD;
    --lightText: #7A7A7A;
}

body{
    font-family: monospace;
    color: var(--lightText);
    background: #EEEEEE;
}

h1, h2, h3{
    color: #000;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}